.container {
position:absolute;
margin:20px;
padding:0;

}

.android_logo {
background:#e8f0ff;
width:350px;
height:500px;
margin:auto;
}

.head,.body {
background:#A4CA39;
position:relative;
top:60px;
margin:auto;
transition: all 0.1s ease-in;
}

.head {
width:220px;
height:100px;
border-radius:450px 450px 0 0;
}

.l_eye,.r_eye {
width:20px;
height:20px;
border-radius:50%;
background:#e8f0ff;
top:50px;
position:absolute;
}

.l_eye {
left:140px;
}

.r_eye {
right:140px;
}

.l_ant,.r_ant {
width:5px;
height:70px;
border-radius:5px;
position:absolute;
top:-40px;
background:inherit;
}

.l_ant {
left:60px;
transform:rotate(-30deg);
}

.r_ant {
right:60px;
transform:rotate(30deg);
}

.body {
width:220px;
height:220px;
border-radius:0 0 30px 30px;
margin-top:10px;
}

.l_arm,.r_arm,.l_leg,.r_leg {
width:50px;
height:170px;
position:absolute;
border-radius:100px;
background:inherit;
}

.l_arm {
left:-55px;
}

.r_arm {
right:-55px;
}

.l_leg {
bottom:-70px;
left:40px;
}

.r_leg {
bottom:-70px;
right:40px;
}

.head:hover {
	transform: rotate(-5deg) translate(-4px, -8px);
}
.l_arm:hover{
	transform: rotate(15deg) translate(-14px, 0);
}
.r_arm:hover{
	transform: rotate(-30deg) translate(30px, 0);
}